<div id="classes" class="page-layout simple fullwidth doc-page">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="title">{{className}}</div>
        </div>
        <div layout="row" layout-align="start center">
            <md-button aria-label="" class="md-primary md-raised" ng-click="showAddClassDialog($event)">
                <md-icon md-font-icon="icon-plus"></md-icon>
                <span>Create new class</span>
            </md-button>
        </div>
    </div>
    <div layout="row" layout-align="start center">
        <md-button aria-label="" class="md-raised md-accent" ng-click="showAddColumnDialog($event)">
            <md-icon md-font-icon="icon-plus"></md-icon>
            <span>Add new column</span>
        </md-button>
        <md-button aria-label="" class="md-raised md-accent" ng-click="showDeleteColumnDialog($event)">
            <md-icon md-font-icon="icon-delete"></md-icon>
            <span>Delete column</span>
        </md-button>
        <md-button aria-label="" class="md-raised md-accent" ng-click="updateValues()">
            <md-icon md-font-icon="icon-table-edit"></md-icon>
            <span>Update Values</span>
        </md-button>
        <md-button aria-label="" class="md-raised md-accent" ng-click="deleteRow()" ng-disabled="exists()">
            <md-icon md-font-icon="icon-delete"></md-icon>
            <span>Delete Rows</span>
        </md-button>
        <md-button aria-label="" class="md-raised md-accent" ng-click="updateField($event)">
            <md-icon md-font-icon="icon-table-edit"></md-icon>
            <span>Update Field</span>
        </md-button>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content" md-background-bg>
        <div class="white-bg md-whiteframe-4dp">
            <form name="myform" id="myform">
                <table class="simple dataTable row-border hover" datatable="ng" dt-options="dtOptions" id="table" ms-responsive-table>
                    <thead>
                        <tr>
                            <th>
                                <md-button aria-label="" class="md-raised md-accent" ng-click="addRow()">
                                    <md-icon md-font-icon="icon-plus"></md-icon>
                                    <span>Add</span>
                                </md-button>
                            </th>
                            <th ng-repeat="field in fields">
                                <md-input-container md-no-float class="md-block">
                                    <input ng-if="editable(field)" placeholder="Value" name="val" type="text" ng-model="add[field]" />
                                </md-input-container>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <md-checkbox aria-label=" " ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()"></md-checkbox>
                            </th>
                            <th ng-repeat="field in fields">{{field}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="document in documents | orderBy:'updatedAt':true track by document.objectId" ng-init="position = $index">
                            <td>
                                <md-checkbox aria-label=" " ng-checked="exists(document.objectId)" ng-click="toggle(document.objectId)"></md-checkbox>
                            </td>
                            <td ng-repeat="(key, value) in document">
                                <span ng-if="!editable(key)">
                                    {{document[key]}}
                                </span>
                                <md-input-container md-no-float class="md-block">
                                    <input ng-if="editable(key)" placeholder="Value" name="schemavalue" type="text" ng-model="document[key]" />
                                </md-input-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <!-- BASIC FORM -->
        <div class="form-wrapper md-whiteframe-4dp">
        </div>
        <!-- / BASIC FORM -->
    </div>
    <!-- / CONTENT -->
</div>
